# /etc/systemd/system/foundationdb.service
[Unit]
Description=FoundationDB Service
AssertPathIsDirectory=/run/foundationdb
AssertPathExists=/etc/foundationdb/foundationdb.conf
AssertPathExists=/etc/foundationdb/fdb.cluster
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=foundationdb
Group=foundationdb
PIDFile=/run/foundationdb/fdbmonitor.pid

Restart=always
RestartSec=5

ExecStart=/usr/lib/foundationdb/fdbmonitor --lockfile /run/foundationdb/fdbmonitor.pid --conffile /etc/foundationdb/foundationdb.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
